body {
  padding: 5vh;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.canv-wrap {
  width: 100%;
  height: 90vh;
}

.apple-preload {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
